/* Style the header */
.header {
  padding: 10px 16px;
  background: #d43;
  color: #f1f1f1;
}

.pokemon-container {
  margin: auto;
  text-align: left;
  border: 0.1em solid #d43;
  padding: 0.5em;
  font: 3em arial, sans-serif;
}
.pokemon-data {
  display: inline-block;
  text-align: end;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.pokemon {
  width: 30%;
  height: 30%;
  border: 0.05em solid #2966C4;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 40%;*/
}


html,body{ width:100%; height:100%; margin: auto; padding:0; text-align:center; background-color:#FFF;}
.box{
	width: 200px;
	height: 200px;
  display:inline-block;
  margin: 1em;
	position: relative;
	border: 6px solid #ccc;
	border-radius: 50%;
	background-image: -moz-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%), -moz-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
	background-image: -webkit-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%),-webkit-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
}
.box:before{
	content: "";
	display: block;
	position: absolute;
	z-index: 6;
	width: 20%;	
	height: 20%;
	background-color: #FFF;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #AAA, 0 0 0 10px #fff, 0 0 0 16px #3f3f3f;
	margin: 40%;
}
.box:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 94%;
	height: 10%;
	background-color:rgba(0,0,0,0);
	margin: 45% 3%;
	box-shadow: 12px 0 0 #FFF, -12px 0 0 #FFF;
}


h1+h1{top:490px; font-size:30px;}
.box:hover{ -webkit-animation:shak .3s infinite; -moz-animation:shak .3s infinite;}
@-webkit-keyframes shak{
	0%,100%{ -webkit-transform:rotate(-10deg);}
	50%{-webkit-transform:rotate(10deg);}
}
@-moz-keyframes shak{
	0%,100%{ -moz-transform:rotate(-10deg);}
	50%{-moz-transform:rotate(10deg);}
}
